extends ../layout

block content
  div.container.p-0
    p #{message}
    form.pl-sm-5.pr-sm-5.pt-sm-3.pb-sm-3.p-3(method="post" action="/tienda/crear")
      h4.text-center.mb-4 Crea tu tienda
      div.row

        div.col-sm-12.col-md-6.col-lg-6.w-100
          div.form-group
            label(for='nombre') Nombre
            input#nombre.form-control(type='text' placeholder='Acme Jardines' name='nombre' required='true' maxlength=40)

          div.form-group
            label(for='descripcion') Descripción
            textarea#descripcion.form-control(rows="4" placeholder='Especializados en decoración para patios y jardines.' name='descripcion' required='true' maxlength=250)

          div.form-group
            label(for="email") Email
            input#email.form-control(type='email' placeholder='acmejardines@gmail.com' name='email' required='true')

        div.col-sm-12.col-md-6.col-lg-6.w-100
          div.form-group
            label(for="imagen") Imagen
            input#imagen.form-control(type='url' placeholder='https://images.pexels.com/photos/1684004/pexels-photo-1684004.jpeg' name='imagen' required='true')

          div.form-group
            label(for="ciudad") Ciudad
            input#ciudad.form-control(type='text' placeholder='Carmona, Sevilla' name='ciudad' required='true' maxlength=40)

          div.form-group
            label(for="calle") Calle
            input#calle.form-control(type='text' placeholder='Calle Hilanderos 13' name='calle' required='true' maxlength=40)   

          div.form-group
            label(for="codigo_postal") Código postal
            input#codigo_postal.form-control(type='text' placeholder='41410' name='codigo_postal' required='true')

          div.text-right.mt-3
            a.btn.cancel.mr-3(href='/') Cancelar
            button.btn(type='submit') Guardar
