extends ../layout
  
block content

  div.container.p-0
    div.col-sm-12.col-md-10.col-lg-8.mx-auto
      form.pl-sm-5.pr-sm-5.pt-sm-3.pb-sm-3.p-3(method="post")
        h4.text-center.mb-4 Iniciar sesión

        if (message != "")
          p#error_message.alert.alert-danger #{message}
        div.form-group
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text
                i.fa.fa-user-circle.fa-fw
            input#nombre_de_usuario.form-control(type='text' placeholder='Nombre de usuario' name='nombre_de_usuario' required='true')

        div.form-group
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text
                i.fa.fa-key.fa-fw
            input#password.form-control(type='password' placeholder='**********' name='password' required='true')

        div.text-center.mb-4
          button.btn(type='submit') Iniciar sesión

        p.text-center.m-0 ¿Aún no tienes cuenta? 
          a(href='/usuario/registro') Regístrate
