extends ../layout
block style
  link(rel='stylesheet' href='/css/form.css')
block content

  div.container.p-0
    div.col-sm-12.col-md-10.col-lg-8.mx-auto
      form.pl-sm-5.pr-sm-5.pt-sm-3.pb-sm-3.p-3(method="post")
        h4.text-center.mb-4 Iniciar sesión

        div.form-group
          label.sr-only(for='nombre_de_usuario') Nombre de usuario:
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text Usuario: 
            input#nombre_de_usuario.form-control(type='text' placeholder='paco123' name='nombre_de_usuario' required='true')

        div.form-group
          label.sr-only(for='password') Contraseña:
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text Contraseña:
            input#password.form-control(type='text' placeholder='**********' name='password' required='true')

        div.text-center.mb-4
          button.btn(type='submit') Iniciar sesión

        p.text-center.m-0 ¿Aún no tienes cuenta? 
          a(href='/usuario/registro') Regístrate
