extends ../layout

block scripts
  script(src="/js/validators/register.js")


block content
  div.container.p-0
    div.col-sm-12.col-md-10.col-lg-8.mx-auto
      form#myForm.pl-sm-5.pr-sm-5.pt-sm-3.pb-sm-3.p-3(method="post" onsubmit="return validateForm()")
        h4.text-center.mb-4 Registro como dueño de una tienda
        - if (message == "user_exists") message = "El usuario ya existe"
        - if (message == "email_exists") message = "El email ya existe"
        if (message != "")
          p#error_message.alert.alert-danger #{message}
        div.form-group
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text 
                i.fa.fa-user-circle.fa-fw
            input#nombre_de_usuario.form-control(type='text' placeholder='Nombre de usuario' name='nombre_de_usuario' required='true')

        span#password_error.text-danger
        div.form-group
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text
                i.fa.fa-key.fa-fw
            input#password.form-control(type='password' placeholder='Contraseña' name='password' required='true')

        div.form-group
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text
                i.fa.fa-key.fa-fw
            input#confirm_password.form-control(type='password' placeholder='Confirmar contraseña' name='confirm_password' required='true')

        div.form-group
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text
                i.fa.fa-at.fa-fw
            input#email.form-control(type='email' placeholder='Email' name='email' required='true')

        div.form-group
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text
                i.fas.fa-user-alt.fa-fw
            input#nombre.form-control(type='text' placeholder='Nombre' name='nombre' required='true')

        div.form-group
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text
                i.fas.fa-user-alt.fa-fw
            input#apellidos.form-control(type='text' placeholder='Apellidos' name='apellidos' required='true')

        span#dni_error.text-danger
        div.form-group
          div.input-group.mb-2
            div.input-group-prepend
              div.input-group-text
                i.fa.fa-id-card.fa-fw
            input#dni.form-control(type='text' placeholder='DNI' name='dni' required='true')   

        div.text-center.mt-3
          a.btn.cancel.mr-3(href='javascript: history.go(-1)') Cancelar
          button.btn(type='submit') Enviar
