meta(name="viewport" content="width=device-width, initial-scale=1")
title #{title}
link(rel='stylesheet' href='/css/bootstrap-grid.min.css')
link(rel='stylesheet' href='/css/bootstrap-reboot.min.css')
link(rel='stylesheet' href='/css/bootstrap.min.css')
link(rel='stylesheet' href='/css/styles.css')
link(href='' rel='stylesheet')
link(href='/font-awesome/css/all.min.css' rel='stylesheet')
script(src="/font-awesome/js/all.min.js")
link(href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet')
script(src="/js/jquery.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap.bundle.min.js")
script(src="/js/bootstrap.min.js")
block style
