extends layout

block content
  div.container
    div.row
      div.col-sm-4
        h3 Enlaces
        ul.nav.nav-pills.flex-column
          li.nav-item
            a.nav-link(href="#") Patatas
          li.nav-item
            a.nav-link(href="#") Cebollas
          li.nav-item
            a.nav-link(href="#") Nabos
      div.col-sm-8
        h3 Patatas
        p COMER PATATAS ES IMPORTANTE PARA TU VIDA :) 123456789