doctype html
html
  include head.pug
  
  body.d-flex.flex-column.min-vh-100
    div.wrapper.flex-grow-1
      div.jumbotron.m-0.p-3.text-center
        div.d-flex.flex-row.justify-content-center
          h1.mr-2
            i.fas.fa-shopping-bag 
          h1 #{tienda.nombre}
      nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.mb-3
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
          span.navbar-toggler-icon
        div.collapse.navbar-collapse.justify-content-center(id="collapsibleNavbar")
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/') Página Principal
            li.nav-item
              a.nav-link(href='/article/list') Lista de artículos
                ul.navbar-nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
                  li.nav-item
                    a.nav-link(href="#") Camisetas
                    a.nav-link(href="#") Vestidos
                    a.nav-link(href="#") Pantalones
                    a.nav-link(href="#") Zapatos
      block content
    
    include footer.pug