extends layout

block content
  div.container
    div.col
      div#title.text-center.mb-3
        h2 Términos y condiciones de uso
      h3.mb-3 Descargo de responsabilidades
      div#content.text-justify
        h4 La aplicación
        p 
          | Esta aplicación web está realizada con finalidad académica y no pretende servir para cualquier otro tipo de finalidad.
        h4 Datos de la aplicación
        p 
          | Si decide usar la aplicación, ha de tener en cuenta que en cualquier momento podría dejar de funcionar o los datos de la misma podrían verse alterados.
          | La aplicación consta con la funcionalidad para poder eliminar los datos introducidos en la misma, por lo que la responsabilidad
          | respecto a ellos recae sobre usted. Si tiene algun problema mayor, puede usar el siguiente email de contacto: antonihipona@gmail.com.
  div.text-center.pt-3
    a.btn.cancel(href='javascript: history.go(-1)') Volver