extends ../layout

block content
  div.container.p-0
    p #{message}
    form.pl-sm-5.pr-sm-5.pt-sm-3.pb-sm-3.p-3(method="post")
      div.row

        div.col-sm-12.col-md-12.col-lg-12.w-100
          h4.text-center.mb-4 Crear nueva categoría
          div.form-group
            label(for='nombre') Nombre
            input#nombre.form-control(type='text' placeholder='Nombre' name='nombre' required='true')

          div.form-group
            div
              label(for='tipo') Tipo
              select#tipo.form-control(name='tipo')
                each variable in ["MUJER", "HOMBRE", "NIÑOS", "OTRO"]
                  option(value=variable) #{variable}

          div.text-right
            button.btn(type='submit') Guardar
